body { 
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    background: #b2f5ea;
}

#gammabox {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background: rgb(128, 128, 128);
    border-radius: 10px;
}

.compare-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: #ff00aa;
    transition: 0.4s;
}

/* rainbow hover effect */
a:hover {
    background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet);
            
    /* standard property */
    background-clip: text;
            
    /* WebKit fallback (Chrome, Safari) */
    -webkit-background-clip: text;
            
    color: transparent;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    postition: absolute;
    top: 0;
    right: 0;
}

.navbar {
    display: flex;
    background-color: #b2f5ea; /* light mint green */
    padding: 10px 20px;
    margin: 0;
    list-style-type: none;
}

.navbar li {
    margin-left: 30px;
}

.navbar a {
    color:  #ff4df0;
    font-family: "Source Code Pro", monospace;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s ease;
}

.navbar a:hover {
    text-shadow: 0 0 5px #ff4df0;

    /* for the rainbow */ 
    background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet);
            
    /* standard property */
    background-clip: text;
            
    /* WebKit fallback (Chrome, Safari) */
    -webkit-background-clip: text;
            
    color: transparent;
}

