body { 
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    background: #b2f5ea;
}

#gammabox {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background: rgb(128, 128, 128);
    border-radius: 10px;
}

.compare-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}